.headerVideo{
    position: absolute;
    top: 0;
    left: 0;
}

.headerContainer{
    position: relative;
    height: 91.5vh;
    overflow: hidden;
    margin-top: -2em;
    background-image: url('https://images.unsplash.com/photo-1517407646106-25124bdfab79?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1400&q=80');
}

.headerContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.dot{
    color: rgb(245, 155, 37);
    font-size: 100px ;
    line-height: 0;
}

.signUpButton{
    margin-top: 1em !important;
    padding: .7em .8em !important;
    color: #fff !important;
   background-color: rgba(15, 80, 77, 0.925) !important;
}


/* 
font-family: 'Roboto Slab', serif;  para
font-family: 'Lato', sans-serif; heading
*/